<!DOCTYPE html>
<html>
<head>
  <title>Hyku knap sack</title>
  <meta name="google-site-verification" content=<%="#{ENV['GOOGLE_SITE_VERIFICATION_ID']}"=> />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "hyku_knapsack/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
